.footerContainer {
  width: 100%;
  height: 138px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 24px;
}
@media screen and (max-width: 400px) {
  .footerContainer {
    font-size: 18px;
  }
}
